* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;  
  }
  
  body {
      background-image: url("/img/bg4.jpg");
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  .main {
      width: 100%;
      background: #f4f4f4; 
  }
  
  .navbar {
      width: 100%;
      height: 75px;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 80px;
  }
  
  .icon {
      width: 200px;
      display: flex;
      align-items: center;
  }
  
  .logo {
      color: black;
      font-family: 'Poppins';
      font-size: 30px;
      cursor: pointer;
  }
  
  span {
      color: rgb(30, 189, 189);
  }
  
  a {
      text-decoration: none;
      color: black;
      font-family: 'Poppins';
      transition: 0.1s ease-in-out;
      font-weight: bolder;
  }
  
  .menuLinks {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 500px;
  }
  
  .menuLinks li {
      list-style-type: none;
  }
  
  .menuLinks li a:hover {
      color: rgb(30, 189, 189);
  }



/* Creating the contact form */

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("./img/bg_form.jpg");
    background-size: cover;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    color: black;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo {
    width:auto;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 16px 0;
    display: flex;
}

.container .contactInfo .box .icon {
    width: 90px;
    height: 80px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 70%;
    font-size: 30px;
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
    margin-right: 80px;
}

.container .contactInfo .box .text h3 {
    font-weight: 500;
    color: rgb(30, 189, 189);
}

.container .contactInfo .box .text p {
    color: black;
    font-weight: bold;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}


/* Creating the footer section */

.footer {
    width: 100%;
    background: #f4f4f4; 
    display: flex;
    flex-direction: column;
}

.footerTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.footerLinks {
    display: flex;
    width: 500px;
    float: right;
    padding: 25px;
}

.footerLinks li {
    list-style-type: none;
    margin: auto;
}

.footerLinks li a:hover {
    color: rgb(30, 189, 189);
}

.footerSocials {
    justify-content:left;
    display: flex;
    text-align: center;
}

.footerSocials a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.footerSocials a i {
    font-size: 1.5em;
    transition: 0.5s;
}

.footerSocials a:hover {
    color: rgb(183, 59, 14);
    transition: 0.5s;
}

.footerBottom {
    background-color: rgba(108, 106, 106, 0.211);
    padding: 10px;
    text-align: center;
}

.footerBottom p {
    color: black;
    font-weight:bold;
    font-family: cursive;
}

.designer {
    opacity: 0.7;
    letter-spacing: 1px;
    font-weight: bolder;
    margin: 0px 5px;
    color: black;
    font-family: cursive;
}

/* Making contact responsive */

@media screen and (max-width:640px) {
    .menuLinks {
      width: 100%;
    }
    
    .navbar {
        flex-direction: column;
    }
}

@media screen and (max-width:380px) {
    .navbar {
        padding: 0 25px;
    }
}

@media screen and (max-width:500px) {
    .footerLinks a{
         font-size: 12px;
    }

    .footerSocials a {
       font-size: 12px;
    }
}

@media screen and (max-width:680px) {
    .contactForm {
        width: 70%;
    }
}

@media screen and (max-width:991px) {
    .contact {
        padding: 50px;
    }

    .container {
        flex-direction: column;
    }

    .container, .contactInfo, .contactForm {
        margin-bottom: 40px;
        width: 100%;
    }
}
