* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;  
  }

body {
    background-image: url(./img/bg2.jpg);
    width: 100%;
    height: 100%;
 }

 .main {
    width: 100%;
    background: #f4f4f4; 
    height: 100%;
}

 .navbar {
    width: auto;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 50px;
}

.logo {
    color: black;
    font-family: 'Poppins';
    font-size: 30px;
    padding-left: 50px;
    float: left;
    padding-top: 10px;
}

span {
    color: rgb(30, 189, 189);
}


.menu {
    float: right;
    height: 70px;
    margin-right: 50px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 20px;
}

ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins';
    transition: 0.1s ease-in-out;
    font-weight: bolder;
}

 ul li a:hover {
    opacity: 1;
    color: rgb(2, 146, 190);
    transition: 0.5s;
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("./img/bg_form.jpg");
    background-size: cover;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    color: black;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo {
    width:auto;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 16px 0;
    display: flex;
}

.container .contactInfo .box .icon {
    width: 90px;
    height: 80px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 70%;
    font-size: 30px;
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
    margin-right: 80px;
}

.container .contactInfo .box .text h3 {
    font-weight: 500;
    color: rgb(30, 189, 189);
}

.container .contactInfo .box .text p {
    color: black;
    font-weight: bold;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}








/* Creating the footer section */

.footerContainer {
    width: 100%;
    height: 90px;
    background: #f4f4f4;
    display: flex; 
}

.socials {
    display: flex;
    justify-content: right;
    font-size: 20px;
}

.socials a {
    text-decoration: none;
    background-color: white;
    margin: 50px;
    border-radius: 50%;
}

.socials a i {
    color: rgb(6, 77, 66);
    opacity: 0.9;
}

.socials a i:hover {
    transition: 0.5s;
    color: rgb(233, 129, 44);
}

.footerNav ul li a:hover {
    opacity: 1;
    color: rgb(2, 146, 190);
}












@media (max-width: 767px) {
    .contact {
        padding: 50px;
    }
    .container {
        flex-direction: column;
    }
    .container .contactInfo, .contactForm .main {
        width: 100%;
    }
}