* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;  
  }

body {
   background-image: url("./img/bg3.avif");
   width: 100%;
   height: 100%;
}

.main {
    width: 100%;
    background: #f4f4f4; 
    height: 100%;
}

  .navbar {
    width: auto;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 50px;
}

.logo {
    color: black;
    font-family: 'Poppins';
    font-size: 30px;
    padding-left: 50px;
    float: left;
    padding-top: 10px;
}

span {
    color: rgb(30, 189, 189);
}


.menu {
    float: right;
    height: 70px;
    margin-right: 50px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 20px;
}

ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins';
    transition: 0.1s ease-in-out;
    font-weight: bolder;
}

ul li a:hover {
    color: red;
}

/* Creating product page */
  
.categories {
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

.column {
    /* float: left; */
    /* width: 30%; */
    padding: 5px;
}

.productImage {
    width: 300px;
    height: 350px;
    cursor: pointer;
}

.productDescription {
    display: flex;
    margin-top: 12px;
    align-items: center;
    justify-content: space-between;
} 

.productTitle p {
    margin-top: 5px;
}


.column h2 {
    color: rgb(7, 129, 38);
    font-weight: bold;
}

.column p {
    color: #333;
    font-weight: bold;
    font-size: 20px;
}

.column:hover {
    transform: translateY(-5px);
}

button {
    font-size: 14px;
    background-color: transparent;
    outline: none;
    border: 1px solid black;
    padding: 8px;
    text-transform: uppercase;
    font-family: monospace;
}

button:hover {
    opacity: 1;
    color: rgb(2, 146, 190);
    background-color: aqua;
    cursor: pointer;
}


/* Creating the footer section */













@media (max-width: 767px) {
    .main {
        padding: 50px;
    }
    .categories {
        flex-direction: column;
    }
    .main .categories {
        width: 100%;
    }
}